---
layout: page
title: "Curriculum vitae"
description: "Hi, this is Chiyu Zhou."
header-img: "img/post-bg-universe.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0"> English </option>
    <option value="1" selected> 中文 Chinese </option>
</select> 


<!-- English Version -->
<div class="en post-container">

    <h1>Education</h1>
  <ul>
    <li>
      Bachelor's degree，Electronic & Computer Engineering <strong>Southwest Petroleum University, China</strong> 
      <br>
      <strong>From</strong> 2017 <strong>to</strong> 2021
      
    </li>
    <li>
      Master degree，Computer Science & Technology <strong>Southwest Petroleum University, China</strong> 
      <br>
      <strong>From</strong> 2021 <strong>to</strong> 2024
    </li>
  </ul>
    <blockquote><p>Major in Computer Science<br>
    State Key Laboratory of Oil & Gas Reservoir Geology and Exploitation, Southwest Petroleum University, China</p><br>
    My GPA during undergradute and graduate periods are 3.4 and 3.17 respectively.
    My English proficiency is 90 points in TOEFL IBT obtained in Aug.2023.
    </blockquote>
    <h1>Research experiences</h1>
    My current research area and master thesis are primarily focused on <strong>influential node identification in complex networks.</strong><br>  
    I proposed two novel centrality measures. 
    <li>
        One is leveraging concepts of the Laplacian matrix of a graph and Tsallis entropy to quantify a complex system's key nodes. Main idea is evaluating the node importance by removing the node and calculate the change of the network and connecting these process from the perspective of information theory, using entropy to grade for nodes.
        <br>
        <img src="process.pdf" alt="Example Image" width="300" height="200">
        The title is <strong>Influential nodes identification by Tsallis entropy and Laplacian centrality in complex networks</strong>, and has been submitted to <strong>Journal of Computational Science</strong>
        <br>
    </li>
    <li>
        Another is mocking the spreading probability referred to SIR model, stimulating the process of community voting and spreading of trust chains, and seperately calculating each node's score to quantify the importance.
        <br>
        The title is <strong>Trust probability and voting decision to determine the key node in complex networks</strong>, and has been submitted to <strong>Journal of Informetrics</strong>
        <br>
    </li>
    These measures have strengthened my ability to program, data analysis, and collaboration.
    <h1>Project experiences</h1>
    <h3>Also, I have participated in several software developments in petroleum engineering, mainly in data visualization and numerical calculating. </h3>

  <ul>
    <li>
      <strong>Project:</strong> Research on wellbore integrity technology of Lingshui Block 25-1 development well, Zhanjiang Branch Project of CNOOC
      <br>
      <strong>From</strong> 2019 <strong>to</strong> 2022
      <br>
      <strong>Responsibilities:</strong>
      <ul>
        <li>Software development</li>
        <li>Business logic code writing</li>
      </ul>
    </li>
    <li>
      <strong>Project:</strong> Gas storage reservoir injection and production optimization simulation and integrity evaluation technology, PetroChina Southwest Oil and Gas Field Basin Center research project
      <br>
      <strong>From</strong> 2019 <strong>to</strong> 2021
      <br>
      <strong>Responsibilities:</strong>
      <ul>
        <li>Software development</li>
        <li>Business logic code writing</li>
        <li>User documentation writing</li>
      </ul>
    </li>
    <li>
      <strong>Project:</strong> Modeling and testing of annulus pressure early warning system of gas storage injection and production wells, project of PetroChina Research Institute of Exploration and Development
      <br>
      <strong>From</strong> 2020 <strong>to</strong> 2021
      <br>
      <strong>Responsibilities:</strong>
      <ul>
        <li>Software development</li>
        <li>Software structure design</li>
        <li>Design of database table structure and dependency</li>
        <li>3D well track visualization module porting from C++ to C#</li>
        <li>Business logic code writing</li>
        <li>Time series forecasting based on data from annulus pressure</li>
      </ul>
    </li>
    <li>
      <strong>Project:</strong> Research on safety evaluation of complex deep well string, Project of Chuanqing Drilling Engineering Company Limited
      <br>
      <strong>From</strong> 2022 <strong>to</strong> 2023
      <br>
      <strong>Responsibilities:</strong>
      <ul>
        <li>Software development</li>
        <li>User demand communication</li>
        <li>Prediction of carbon dioxide annual corrosion rate based on neural network (One paper was published in a Chinese journal)</li>
        <li>Business logic code writing</li>
        <li>User documentation writing</li>
      </ul>
    </li>
  </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "none";
            $en.style.display = "block";
        }
    }

    // handle select change
    function onLanChange(index){
        window.location.hash = "#en"

    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

